<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Working With Time Series Data

---

### Learning Objectives
 
**After this lesson, you will be able to:**
- Identify time series data.
- Explain the challenges of working with time series data.
- Use the `datetime` library to represent dates as objects.
- Preprocess time series data with Pandas.

---

### Lesson Guide

#### Time Series Data
- [What is a Time Series](#A)
- [The Datetime Library](#B)
- [Preprocessing Time Series Data with Pandas](#C)
- [Independent Practice](#D)
----

<h2><a id="A">What is a Time Series?</a></h2>

A **time series** is a series of data points that's indexed (or listed, or graphed) in time order. Most commonly, a time series is a sequence that's taken at successive equally spaced points in time. Time series are often represented as a set of observations that have a time-bound relation, which is represented as an index.

Time series are commonly found in sales, analysis, stock market trends, economic phenomena, and social science problems.

These data sets are often investigated to evaluate the long-term trends, forecast the future, or perform some other form of analysis.

> **Check for Understanding:** List some examples of real-world time series data.

### Let's take a look at some Apple stock data to get a feel for what time series data look like.

In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

aapl = pd.read_csv("../../data/aapl.csv")

Take a high-level look at the data. What are we looking at?

In [2]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0  13-Jan-17  119.11  119.62  118.81  119.04  26111948
1  12-Jan-17  118.90  119.30  118.21  119.25  27086220
2  11-Jan-17  118.74  119.93  118.60  119.75  27588593
3  10-Jan-17  118.77  119.38  118.30  119.11  24462051
4   9-Jan-17  117.95  119.43  117.94  118.99  33561948

In [ ]:
aapl.describe()

In [ ]:
aapl['Date'].dtypes

<h2><a id="B">The DateTime library</a></h2>

As time is important to time series data, we will need to interpret these data in the ways that humans interpret them (which is many ways). 

Python's `DateTime` library is great for dealing with time-related data, and Pandas has incorporated this library into its own `datetime` series and objects.

In this lesson, we'll review these data types and learn a little more about each of them:

* `datetime` objects.
* `datetime` series.
* Timestamps.
* `timedelta()`.

### `datetime` Objects

Below, we'll load in the `DateTime` library, which we can use to create a `datetime` object by entering in the different components of the date as arguments.

In [ ]:
# The datetime library is something you should already have from Anaconda.
#from datetime import datetime

In [ ]:
# Let's just set a random datetime â€” not the end of the world or anything.
lesson_date = datetime(2021, 5, 14, 2, 10 , 10, 650020)
lesson_date

The components of the date are accessible via the object's attributes.

In [ ]:
print("Micro-Second", lesson_date.microsecond)
print("Second", lesson_date.second)
print("Minute", lesson_date.minute)
print("Hour", lesson_date.hour)
print("Day", lesson_date.day)
print("Month",lesson_date.month)
print("Year", lesson_date.year)

In [ ]:
lesson_date.month

### `timedelta()`

Suppose we want to add time to or subtract time from a date. Maybe we're using time as an index and want to get everything that happened a week before a specific observation.

We can use a `timedelta` object to shift a `datetime` object. Here's an example:

In [ ]:
# Import timedelta() from the DateTime library.
#from datetime import timedelta

# Timedeltas represent time as an amount rather than as a fixed position.
offset = timedelta(days=1, hours=20)

# The timedelta() has attributes that allow us to extract values from it.
print('offset days', offset.days)
print('offset seconds', offset.seconds)
print('offset microseconds', offset.microseconds)

`datetime`'s `.now()` function will give you the `datetime` object of this very moment.

In [ ]:
now = datetime.now()
print("Like Right Now: ", now)

The current time is particularly useful when using `timedelta()`.

In [ ]:
print("Future: ", now + offset)
print("Past: ", now - offset)

*Note: The largest value a `timedelta()` can hold is days. For instance, you can't say you want your offset to be two years, 44 days, and 12 hours; you have to convert those years to days.*

You can read more about the `timedelta()` category [here](https://docs.python.org/2/library/datetime.html).

### Guided Practice: Apple Stock Data

We can practice using `datetime` functions and objects using Apple stock data.

In [ ]:
aapl.head()

The `Date` column starts off as an object.

In [ ]:
# Notice that date is a string
aapl.dtypes

## Preprocessing Time Series Data with Pandas

### Convert time data to a `datetime` object.

Overwrite the original `Date` column with one that's been converted to a `datetime` series.

In [ ]:
aapl['Volume'][0]

In [ ]:
aapl['Date'] = pd.to_datetime(aapl['Date'])

We can see these changes reflected in the `Date` column structure.

In [ ]:
aapl.head()

We can also see that the `Date` object has changed.

In [ ]:
aapl.dtypes

### The `.dt` Attribute

Pandas' `datetime` columns have a `.dt` attribute that allows you to access attributes that are specific to dates. For example:

    aapl.Date.dt.day
    aapl.Date.dt.month
    aapl.Date.dt.year
    aapl.Date.dt.day_name()

And, there are many more!

In [ ]:
aapl['dayname']=aapl['Date'].dt.day_name()
aapl[['Date','dayname']].head()

In [ ]:
aapl['Dayofyear']=aapl['Date'].dt.dayofyear
aapl.head()

Check out the Pandas `.dt` [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.html) for more information.

### Timestamps

Timestamps are useful objects for comparisons. You can create a timestamp object using the `pd.to_datetime()` function and a string specifying the date. These objects are especially helpful when you need to perform logical filtering with dates.

In [ ]:
ts = pd.to_datetime('1/1/2017')
ts

In [ ]:
aapl.columns

In [ ]:
type(aapl['Date'][0])

In [ ]:
type(ts)

The main difference between a `datetime` object and a timestamp is that timestamps can be used as comparisons.

Let's use the timestamp `ts` as a comparison with our Apple stock data.

In [ ]:
ts

In [ ]:
aapl['Date'] >= ts

In [ ]:
aapl.loc[aapl['Date'] >= ts, :].head()

We can even get the first and last dates from a time series.

In [ ]:
aapl['Date'].describe()

In [ ]:
aapl['Date'].min()

In [ ]:
aapl.Date.max() - aapl.Date.min()

> **Check for Understanding:** Why do we convert the DataFrame column containing the time information into a `datetime` object?

### Set `datetime` to Index the DataFrame

After converting the column containing time data from object to `datetime`, it is also useful to make the index of the DataFrame a `datetime`.

In [ ]:
aapl.head()

In [ ]:
aapl.index

Let's set the `Date` column as the index.

In [ ]:
aapl.set_index('Date', inplace=True)

In [ ]:
aapl.head()

In [ ]:
aapl.loc['2017-01-11', 'Close']

### Filtering by Date with Pandas

It is easy to filter by date using Pandas. Let's create a subset of data containing only the stock prices from 2017. We can specify the index as a string constant.

In [ ]:
aapl['2017-01']

There are a few things to note about indexing with time series. Unlike numeric indexing, the end index will be included. If you want to index with a range, the time indices must be sorted first.

> **Recap:** The steps for preprocessing time series data are to:
* Convert time data to a `datetime` object.
* Set `datetime` to index the DataFrame.

# Recap

* We use time series analysis to identify changes in values over time.
* The `datetime` library makes working with time data more convenient.
* To preprocess time series data with Pandas, you:
    1. Convert the time column to a `datetime` object.
    2. Set the time column as the index of the DataFrame.

# Independent Practice

**Instructor Note**: These are optional and can be assigned as student practice questions outside of class.

### 1) Create a `datetime` object representing today's date.

In [ ]:
from datetime import datetime
from datetime import timedelta

# Time this lesson plan was written:
lesson_date = datetime(2018, 2, 25, 23, 31, 1, 844089)

In [ ]:
print(lesson_date)

### 2) Load the UFO data set from the internet.

In [ ]:
import pandas as pd
from datetime import timedelta


ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
ufo.head()

In [ ]:
ufo.dtypes

### 3) Convert the `Time` column to a `datetime` object.

In [ ]:
ufo['Time'] = pd.to_datetime(ufo['Time'])

In [ ]:
ufo.head()

In [ ]:
ufo.dtypes

### 4) Set the `Time` column to the index of the DataFrame.

In [ ]:
ufo.set_index('Time', inplace=True)

In [ ]:
ufo.head()

### 5) Create a `timestamp` object for the date January 1, 1999.

In [ ]:
ts = pd.to_datetime('1/1/1999')

### 6) Use the `timestamp` object to perform logical filtering on the DataFrame and create a subset of entries with a date above or equal to January 1, 1999.

In [ ]:
mask1999=ufo.index >= ts

In [ ]:
recent_ufos = ufo.loc[mask1999, 'State']

In [ ]:
recent_ufos.head()